* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

  background-color: rgb(212, 127, 0);
}

button {
  margin: 3rem 2rem;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

/*   HEADER   */
header {
  background-image: url('/img/vaca_blanca.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 500px;
}

header h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: black;
  margin: 1.5rem 0;
}

header nav {
  order: -1;
}

header nav ul {
  display: flex;
  margin: 3rem 0;
  list-style: none;
}

header nav ul li a {
  color: red;
  text-decoration: none;
  padding: 1rem;
}

/*   ARTICLE   */
article {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

article h2 {
  text-align: left;
  color: white;
  margin: 4rem 0 1rem 1.5rem;
  font-size: 2.5rem;
  font-weight: bolder;
}

article p {
  padding: 1rem 1.5rem;
}

/*   SECTION#MUESTRARIO   */
section#muestrario ul li {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  margin: 2rem;
}

section#muestrario ul li img {
  width: 350px;
  margin: 1rem;
  align-self: center;
}

section#muestrario ul li h2 {
  margin: 1rem;
  font-size: 4rem;
  text-align: center;
}

section#muestrario ul li p {
  margin: 1rem;
  font-size: 0.75rem;
}

section#muestrario ul li a {
  color: black;
  background-color: lightslategray;

  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder;

  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*   SECTION#FORMULARIO   */
section#formulario {
  background-color: white;
  color: black;
}

section#formulario h2 {
  font-size: 3rem;
  margin: 2rem 0 1rem 2rem;
  color: rgb(212, 127, 0);
}

section#formulario form {
  font-size: 1.5rem;

  display: grid;
  grid-template-rows: repeat(8, auto-fit);
  grid-template-columns: repeat(2, 50fr);

  grid-template-areas:
    'labelnombre labeldireccion'
    'nombre direccion'
    'labelprovincia .'
    'provincia .'
    'labelcomentarios .'
    'comentarios comentarios'
    'labelcheckbox checkbox'
    'button . ';
}

section#formulario form input {
  background: rgb(212, 127, 0);
  border: 2px solid black;
  color: black;
  grid-area: nombre;
}

section#formulario form label[for='name'] {
  color: black;
  grid-area: labelnombre;
  font-weight: bolder;
  margin: 1rem;
  display: block;
}

section#formulario form input#name {
  height: 35px;
  margin: 0 1rem 1rem 1rem;
  display: block;
}

section#formulario form label[for='address'] {
  color: black;
  grid-area: labeldireccion;
  font-weight: bolder;
  margin: 1rem;
}

section#formulario form input#address {
  height: 35px;
  grid-area: direccion;
  margin: 0 1rem 0 0rem;
}

section#formulario form label[for='provincia'] {
  color: black;
  grid-area: labelprovincia;
  font-weight: bolder;
  margin: 1rem;
}

section#formulario form select#provincia {
  background: rgb(212, 127, 0);
  color: black;
  border: 2px solid black;
  height: 35px;
  grid-area: provincia;
  margin: 0 1rem 1rem 1rem;
}

section#formulario form label[for='comentarios'] {
  color: black;
  grid-area: labelcomentarios;
  font-weight: bolder;
  margin: 1rem;
}

section#formulario form textarea#comentarios {
  background: rgb(212, 127, 0);
  color: black;
  border: 2px solid black;
  height: 10vh;
  grid-area: comentarios;
  margin: 0 1rem 1rem 1rem;
}

section#formulario div.check_box {
  display: flex;
  grid-area: labelcheckbox;
  align-items: center;
}

section#formulario form label[for='newsletter'] {
  color: black;
  grid-area: labelcheckbox;
  font-weight: bolder;
  margin: 1rem;
}

section#formulario form div.check_box input#newsletter {
  width: 25px;
  height: 25px;
}

/*   TAMAÑO +700px   */
@media (min-width: 700px) {
  html {
    font-size: 20px;
    margin: 0;
  }

  /*   ARTICLE   */
  article {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: 1rem;

    display: grid;
    grid-template-rows: repeat(3, auto-fit);
    grid-template-columns: repeat(2, auto-fit);

    grid-template-areas:
      'titulo titulo'
      'parrafo1 parrafo3'
      'parrafo2 parrafo3';
  }

  article h2 {
    text-align: left;
    color: white;
    font-size: 3rem;
    font-weight: bolder;

    grid-area: titulo;
  }

  article p.p1 {
    grid-area: parrafo1;
  }

  article p.p2 {
    grid-area: parrafo2;
    align-self: flex-end;
  }

  article p.p3 {
    grid-area: parrafo3;
  }

  /*   SECTION#MUESTRARIO   */
  section#muestrario ul {
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-rows: repeat(1, auto-fit);
    grid-template-areas: 'pos1 pos2 pos3';
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  section#muestrario ul li {
    background-color: black;
    color: white;
    margin: 0;
    width: 30fr;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
  }

  section#muestrario ul li img {
    width: auto;
    margin: 0;
  }

  section#muestrario ul li h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  section#muestrario ul li p {
    font-size: 0.75rem;
  }

  section#muestrario ul li a {
    color: black;
    background-color: lightslategray;

    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;

    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*   SECTION#FORMULARIO   */
  section#formulario form {
    font-size: 1rem;
  }
}
